<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-profile">
        <br><br>
        <h1 class="saludo">¡ Hola, <%= user.firstname %> <%= user.lastname %> !</h1>
        <br>
        <div class="image-container">
             <img src="/img/profileImages/<%= user.user_image %>" alt="" srcset="" class="fotoperfil">
        </div>
        <br>
        <br>
        <div class="correo">
            <%= user.email %>
        </div>
        <br><br>

        <div class="logout-button">
            <a href="/editProfile"> <i class="fas fa-user-edit"></i> Editar datos personales</a>
        </div>
        <div class="logout-button">
            <a href="/editPass"> <i class="fas fa-user-edit"></i> Cambiar contraseña</a>
        </div>

        <br><br>

        <div class="logout-button">
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        </div>
    </main>
</body>
</html>