<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <% for (let i=0; i < resultado.length; i++){ %>
        

        <article class="nombre-producto-consola">
            <h1><%= resultado[i].name %></h1>
            <a href="#" class="consola"><%= resultado[i].category %></a>
        </article>

        <section class="detalles-producto">
            <div class="imagen-juego">
                <img src="/img/products/<%= resultado[i].image %>" alt="">
            </div>
        <article class="datos">
            <div class="calif">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="precios">
                <% if(resultado[i].discount == 0) { %>
                    <p class="precio-final">$<%= resultado[i].price%></p>
                <% }else{ %>
                    <p class="precio-final">$<%= (resultado[i].price/100)*(100-resultado[i].discount)%></p>
                    <p class="precio-tachado">$<%= resultado[i].price%></p>
                <% } %>
            </div>
            <p class="detalles"><%= resultado[i].description%> </p>
            <div class="cantidad">
                <label for="id_form-0-quantity"><b>Cantidad:</b></label>
                <input class="cantidad" id="id_form-0-quantity" min="1" name="form-0-cantidad" value="1" type="number">
            </div>
            <button class="button-principal" type="submit">AGREGAR A CARRITO</button>
        </article>
        </section>

        <section class="description">
            <h2>Descripción del Producto</h2>
            <ul>
                <li>Suspendisse ullamcorper nisl sed dui aliquet vehicula.</li>
                <li>Aliquam eu tortor aliquam diam mollis vulputate ut eu risus.</li>
                <li>Nullam suscipit sem et eros fringilla, hendrerit laoreet urna bibendum.</li>
                <li>Nulla eget libero ut mi congue viverra.</li>
            </ul>
        </section>
        <% } %>
        
        <section class="best-sellers-shopping">
            <div class="tags">
                <h4 class="tag-title">Tambien te puede interesar</h4>
                <h4 class="ver-mas">Ver mas...</h4>
            </div>
            <div class="products">
                <article>
                    <img src="/img/item-1.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 1,200</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-2.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 2,300</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-3.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-1.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 1,200</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-2.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 2,300</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-3.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>     
    </main>   
    <%- include('../partials/footer.ejs') %>
</body>
</html>