<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main class="main-index">
    <section class="catalogue">
        <div class="tags">
            <h4 class="tag-title">Todos los productos</h4>
        </div>
        <div class="products">
            <% products.forEach(function(product){ 
                let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
            %>
            <article>
                <a href="/products/<%= `${product.id}/` %>"><img src="/img/products/<%= product.image %>" alt=""></a>
                <div class="main-article">
                    <h4 class="description"><%= product.name %></h4>
                    <p class="price">$ <%= toThousand(finalPrice) %></p>
                    <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </article>
        <% }) %>
        </div>
    </section>
</main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>