<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main class="create-product-main">
        <div class="update-product-main">
            <section class="update-products">
                <div class="dates">
                    <section class="profile-nametype">
                        <div class="profile-divs">
                            <div class="profile-name">
                                <h4>Nombre del usuario</h4>
                            </div>
                            <div class="profile-type">
                                <p>Administrador</p>
                            </div>
                        </div>
                        <div class="profile-photo">
                            <img src="/img/user-profile-beta.png" alt="Foto del usuario">
                        </div>
                    </section>
                </div>
                <div class="titulo-product">
                    <h3>Editar producto</h3>
                </div>
                <div class="formulario-update">
                    <form action="/products/<%= resultado.id_product%>/edit?_method=PUT" method="POST" class="create-form" enctype="multipart/form-data">
                        <div class="control-form" >
                            <label for="name">Nombre del producto</label>
                            <input type="text" name="name" id="name" placeholder="Ingresa nombre del producto" minlength="5" class="control" value="<%= resultado.name%>" required>
                        </div>
                        <div class="control-form">
                            <label for="category">Categoria</label>
                            <select name="category" id="category" >
                                <% for(const aCategory of categories) {%>
                                    <option 
                                        value="<%= aCategory.id_category %>"
                                        <%= (resultado.category.id_category === aCategory.id_category ? 'selected' : null ) %>
                                    > <%= aCategory.name %> </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="control-form">
                            <label for="price">Precio</label>
                            <input type="number" name="price" id="price" placeholder="Ingresa una cantidad" class="control" value="<%= resultado.price%>" required>
                        </div>
                        <div class="control-form">
                            <label for="description">Descripcion</label>
                            <textarea name="description" id="description" cols="20" rows="6" placeholder="Escriba una descripcion del producto" required><%= resultado.description%></textarea>
                        </div>
                        <div class="control-form">
                            <label for="imagen">Imagen del producto</label>
                            <div class="img-product">
                                <div class="product-img">
                                    <img src="/img/products/<%= resultado.product_image %>" alt="Imagen del producto">
                                </div>
                                <div class="link-update">
                                    <a href="#">Editar</a>
                                    
                                </div>
                            </div>
                            <input type="file" name="product-image" id="product-image" placeholder="Ingresa una Imagen" class="control" >
                        </div>
                        <div class="control-buttons">
                            <div class="create-button">
                                <button type="submit">GUARDAR CAMBIOS</button>
                            </div>
                        </div>
                    </form>
                    <div class="cancel-delete">
                        <div class="cancel-button">
                            <button type="reset">CANCELAR</button>
                        </div>
                        <div class="cancel-button">
                            <form action="/products/delete/<%= resultado.id_product%>?_method=DELETE" method="POST" >
                                <button type="submit">ELIMINAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section class="view-products">
                <div class="title-add">
                    <div class="titulo-product">
                        <h3>Productos</h3>
                    </div>
                    <div class="add-product">
                        <h3><a href="/create">+ AGREGAR PRODUCTO</a></h3>
                    </div>
                </div>
                <div class="product">
                    <div class="inf-prod">
                        <div class="img-product2">
                            <img src="/img/item-2.png" alt="Imagen del producto">
                        </div>
                        <div class="title-cat-price">
                            <div class="title">
                                <h4>SUPER MARIO PARTY</h4>
                            </div>
                            <div class="cat-game">
                                <p>SWITCH</p>
                            </div>
                            <div class="price-game">
                                <h3>$45.00</h3>
                            </div>
                        </div>
                        <div class="link-update2">
                            <a href="updateProduct">Editar</a>
                            
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="inf-prod">
                        <div class="img-product2">
                            <img src="/img/item-2.png" alt="Imagen del producto">
                        </div>
                        <div class="title-cat-price">
                            <div class="title">
                                <h4>SUPER MARIO PARTY</h4>
                            </div>
                            <div class="cat-game">
                                <p>SWITCH</p>
                            </div>
                            <div class="price-game">
                                <h3>$45.00</h3>
                            </div>
                        </div>
                        <div class="link-update2">
                            <a href="updateProduct">Editar</a>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="inf-prod">
                        <div class="img-product2">
                            <img src="/img/item-2.png" alt="Imagen del producto">
                        </div>
                        <div class="title-cat-price">
                            <div class="title">
                                <h4>SUPER MARIO PARTY</h4>
                            </div>
                            <div class="cat-game">
                                <p>SWITCH</p>
                            </div>
                            <div class="price-game">
                                <h3>$45.00</h3>
                            </div>
                        </div>
                        <div class="link-update2">
                            <a href="updateProduct">Editar</a>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="inf-prod">
                        <div class="img-product2">
                            <img src="/img/item-2.png" alt="Imagen del producto">
                        </div>
                        <div class="title-cat-price">
                            <div class="title">
                                <h4>SUPER MARIO PARTY</h4>
                            </div>
                            <div class="cat-game">
                                <p>SWITCH</p>
                            </div>
                            <div class="price-game">
                                <h3>$45.00</h3>
                            </div>
                        </div>
                        <div class="link-update2">
                            <a href="updateProduct">Editar</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>